@model NovaKeep.Models.Characters

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Characters</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hometown" class="control-label"></label>
                <input asp-for="Hometown" class="form-control" />
                <span asp-validation-for="Hometown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ability" class="control-label"></label>
                <input asp-for="Ability" class="form-control" />
                <span asp-validation-for="Ability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weapon" class="control-label"></label>
                <input asp-for="Weapon" class="form-control" />
                <span asp-validation-for="Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccountedId" class="control-label"></label>
                <input asp-for="UserAccountedId" class="form-control" />
                <span asp-validation-for="UserAccountedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
